@keyframes slideLeft {
  from {
    background-position: 100% 0;
  }
  to {
    background-position: 0% 0;
  }
}

/* 전체 레이아웃 영역 */
.inputWrap {
  width: 40%;
  height: 100%;
  overflow-y: hidden;
  flex-direction: column;
  padding: 0 40px;
  border-right: 2px dashed rgb(63, 63, 63);
  box-sizing: border-box;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.outputWrap {
  width: 60%;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
  align-items: flex-start;
}

/* 좌측 InputWrap 영역 */
.inputWrap .titleWrap {
  width: 100%;
  height: 5%;
  font-family: "notoSansB";
  padding: 20px;
}

.inputWrap .titleWrap .logoWrap {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.inputWrap .titleWrap .logoWrap .imageBox {
  width: 100%;
  height: 100%;
  background-image: url("/logo.png"); /* 로고 이미지 경로 */
  background-size: contain; /* 이미지가 요소에 맞게 크기 조정 */
  background-repeat: repeat-x; /* 이미지를 가로로 반복 */
  animation: slideLeft 10s linear infinite; /* 애니메이션 적용 */
}

.inputWrap .inputMailWrap {
  width: 100%;
  height: 85%;
  padding: 20px;
}

.inputWrap .inputMailWrap textarea {
  width: 100%;
  height: 100%;
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  color: white;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 10px;
  resize: none;
}

.inputWrap .submitBtnWrap {
  width: 100%;
  height: 10%;
  padding: 20px;
}

.inputWrap .submitBtnWrap button {
  width: 100%;
  height: 100%;
  border: none;
  color: white;
  border-radius: 10px;
  background: #151515;
  font-family: "duneRise";
  font-size: 20px;
}
.inputWrap .submitBtnWrap button:hover {
  background: rgb(20, 63, 255);
}

/* 우측 OutputWrap 영역 */
.outputWrap .outputBoxWrap {
  padding: 40px;
  width: 100%;
  height: auto;
  color: white;
  flex-direction: column;
  flex-wrap: wrap;
}

.outputWrap .outputBoxWrap .resultArea {
  width: 100%;
  justify-content: space-around;
}
